*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/nativephp
/public/build
/public/hot
/public/storage
/database/*.sqlite
/storage/*.key
/storage/pail
/vendor
/platforms/desktop/.env
/platforms/desktop/vendor
/platforms/desktop/node_modules
/platforms/desktop/nativephp
/platforms/desktop/storage
/platforms/desktop/bootstrap/cache
/platforms/desktop/database/database.sqlite
/platforms/android/.env
/platforms/android/vendor
/platforms/android/node_modules
/platforms/android/nativephp
/platforms/android/storage
/platforms/android/bootstrap/cache
/platforms/android/database/database.sqlite
/platforms/web/.env
/platforms/web/vendor
/platforms/web/node_modules
/platforms/web/storage
/platforms/web/bootstrap/cache
/platforms/web/database/database.sqlite
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
